<a href="{{ path('hdv_admin_edit_vente', {'id': dt_item}) }}" class="btn btn-info" style="margin-right:15px;"><span class="fa fa-lg fa-pencil" style="margin-right:5px;"></span> Editer</a>
<a href="{{ path('hdv_admin_objects_vente', {'id': dt_item}) }}"  style="margin-right:15px;" class="btn btn-success"><span class="fa fa-lg fa-list-ul" style="margin-right:5px;"></span> Liste des lots</a>
<a href="{{ dt_item }}" class="btn btn-danger"><span class="fa fa-lg fa-trash" style="margin-right:5px;"></span> Supprimer</a>
