{% extends "HDVAdminBundle:Default:index.html.twig" %}
{% block body %}

<h2>Panel d'administration</h2>
<div class="grad"></div>
<br/><br/>
<div class="box box-content" style="border-top-color:#511a1a;">
  <div class="box-header with-border">
          <h3 class="box-title">Statistique</h3>
        </div>
  <div class="box-body content">
</div>
</div>

{% endblock %}
