{{ substrdatatables(dt_item) }}<br/><a href="{{ path('hdv_ventes_object_view', {'id': dt_obj.id}) }}" type="button" class="btn btn-default btn-sm" style="positon:relative;bottom:0;">Voir la fiche / Déposer un ordre</a>
<a href="{{ path('hdv_ventes_enquiry_form', {'id': dt_obj.id}) }}" id="fancybox" data-fancybox="iframe" type="button" class="btn btn-default btn-sm" style="positon:relative;bottom:0;">Demande de renseignements</a>
